# Maven
target

# test-patch
test-patch

# IntelliJ
*.iml
*.ipr
*.iws
.idea

# Structure101
*.hsp

# Eclipse
.classpath
.project
.settings

# Oozie build
core/pig*
core/hive-*
core/build
core/mem
examples/oozietests
mkdistro-*.out
distro/downloads
SecurityAuth.audit
build
webapp/overlays
