~~ Licensed under the Apache License, Version 2.0 (the "License");
~~ you may not use this file except in compliance with the License.
~~ You may obtain a copy of the License at
~~
~~   http://www.apache.org/licenses/LICENSE-2.0
~~
~~ Unless required by applicable law or agreed to in writing, software
~~ distributed under the License is distributed on an "AS IS" BASIS,
~~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~~ See the License for the specific language governing permissions and
~~ limitations under the License. See accompanying LICENSE file.

  ---
  Apache Oozie Workflow Scheduler for Hadoop
  ---
  ${maven.build.timestamp}

Apache Oozie(TM) Workflow Scheduler for Hadoop

* Overview

  Oozie is a workflow/coordination system to manage Apache Hadoop(TM) jobs.

  Oozie Workflow jobs are Directed Acyclical Graphs (DAGs) of actions.

  Oozie Coordinator jobs are recurrent Oozie Workflow jobs triggered by time (frequency) and data availabilty.

  Oozie is integrated with the rest of the Hadoop stack supporting several types of Hadoop jobs out of the box
  (Java map-reduce, Streaming map-reduce, Pig, Distcp, etc.)

  Oozie is a scalable, reliable and extensible system.

  Developers interested in getting more involved with Oozie may join the {{{./MailingLists.html}mailing lists}},
  {{{./IssueTracking.html}report bugs}}, retrieve code from the {{{./VersionControl}version control system}},
  and make {{{./HowToContribute.html}contributions}}.



