/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.oozie-MapReduceActionWidget {
border: 0;
background-image: url("img/mr-action.png");
background-repeat: no-repeat;
width: 50px;
height: 43px;
padding: 0px 0px 0px 0px;
}

.oozie-StreamingActionWidget {
border: 0;
background-image: url("img/streaming-action.png");
background-repeat: no-repeat;
width: 50px;
height: 43px;
padding: 0px 0px 0px 0px;
}

.oozie-PipesActionWidget {
border: 0;
background-image: url("img/pipes-action.png");
background-repeat: no-repeat;
width: 50px;
height: 43px;
padding: 0px 0px 0px 0px;
}

.oozie-PigActionWidget {
border: 0;
background-image: url("img/pig-action.png");
background-repeat: no-repeat;
width: 50px;
height: 43px;
padding: 0px 0px 0px 0px;
}

.oozie-JavaActionWidget {
border: 0;
background-image: url("img/java-action.png");
background-repeat: no-repeat;
width: 50px;
height: 43px;
padding: 0px 0px 0px 0px;
}

.oozie-FSActionWidget {
border: 0;
background-image: url("img/fs-action.png");
background-repeat: no-repeat;
width: 50px;
height: 43px;
padding: 0px 0px 0px 0px;
}

.oozie-SSHActionWidget {
border: 0;
background-image: url("img/ssh-action.png");
background-repeat: no-repeat;
width: 50px;
height: 43px;
padding: 0px 0px 0px 0px;
}

.oozie-SubWFActionWidget {
border: 0;
background-image: url("img/subwf-action.png");
background-repeat: no-repeat;
width: 50px;
height: 43px;
padding: 0px 0px 0px 0px;
}

.oozie-EmailActionWidget {
border: 0;
background-image: url("img/email-action.png");
background-repeat: no-repeat;
width: 50px;
height: 43px;
padding: 0px 0px 0px 0px;
}

.oozie-ShellActionWidget {
border: 0;
background-image: url("img/shell-action.png");
background-repeat: no-repeat;
width: 50px;
height: 43px;
padding: 0px 0px 0px 0px;
}

.oozie-StartNodeWidget {
border: 0;
background-image: url("img/start.png");
background-repeat: no-repeat;
width: 50px;
height: 50px;
padding: 0px 0px 0px 0px;
}

.oozie-EndNodeWidget {
border: 0;
background-image: url("img/end.png");
background-repeat: no-repeat;
width: 50px;
height: 50px;
padding: 0px 0px 0px 0px;
}

.oozie-KillNodeWidget {
border: 0;
background-image: url("img/kill.png");
background-repeat: no-repeat;
width: 50px;
height: 50px;
padding: 0px 0px 0px 0px;

}

.oozie-DecisionNodeWidget {
border: 0;
background-image: url("img/decision.png");
background-repeat: no-repeat;
width: 50px;
height: 50px;
padding: 0px 0px 0px 0px;

}

.oozie-ForkNodeWidget {
border: 0;
background-image: url("img/fork.png");
background-repeat: no-repeat;
width: 50px;
height: 50px;
padding: 0px 0px 0px 0px;
}

.oozie-JoinNodeWidget {
border: 0;
background-image: url("img/join.png");
background-repeat: no-repeat;
width: 50px;
height: 50px;
padding: 0px 0px 0px 0px;
}

}
